{{!-- Navigation Bar template from Bootstrap --}}
<div class="container">
    <nav class="navbar sticky-top navbar-expand navbar-light flex-column flex-md-row bd-navbar bg-light" style="background-color: #e3f2fd">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="http://flip2.engr.oregonstate.edu:7531/emunch">Edvard Munch</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://flip2.engr.oregonstate.edu:7531/vangogh">Vincent Van Gogh</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://flip2.engr.oregonstate.edu:7531/sources">Sources</a>
            </li>
        </ul>
        </div>
    </nav>
</div>
<br>
<div class="container">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column pl-5">
            <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/the_scream" class="img-fluid">
        </div>
        <div class="col pr-5 my-auto">
            <p>
              <span class="font-weight-bold">Edvard Munch</span> was a Norwegian painter and best known for his painting, <span class="p-name">The Scream</span>. He is known as an expressionist painter, 
              a style that presents the world from a purely subjective perspective. Characteristic of expressionism is evoking an emotional effect in order to express
              the emotional experience, rather than the objective, physical reality of the world. The individual and subjective perspective is emphasized.
            </p>
            <p class="font-weight-light">
              Born: December 12, 1863<br>
              Died: January 23, 1994<br>
            </p>
            <p class="font-weight-light">
              Nationality: Norwegian<br>
              Movement(s): Expressionism, Symbolism
            </p>
            <p><small class="text-muted">
              <span class="p-name">The Scream</span>, 1893<br>
              source: edvardmunch.org</small></p>
        </div>
    </div>
</div>

<div class="container mt-5">
  <h3 class="text-center">Early Life & Work</h3>
</div>

<div class="container">
  <div class="d-flex flex-row px-5">
    <div class="d-flex flex-column">
      <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/arrival_of_the_mail_boat" class="img-fluid"> 
    </div>
    <div class="d-flex flex-column pl-1">
      <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/the_sick_child" class="img-fluid"> 
    </div>
  </div>
  <div class="d-flex flex-row px-5">
    <small class="text-muted">
      Left: <span class="p-name">Arrival of the Mail Boat</span>, 1890 | Right: <span class="p-name">The Sick Child</span>, 1885
    </small>
  </div>
  <div class="d-flex flex-row">
    <small class="text-muted px-5">
      Sources: (Left) arthive.com | (Right): edvardmunch.org
    </small>
  </div>
  <div class="d-flex flex-row mt-5">
      <div class="d-flex flex-column pl-5">
          <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/self_portrait_w_cigarette" class="img-fluid">
      </div>
      <div class="col pr-5 my-auto">
          <p>
            Born in Norway, Munch was raised by his father and aunt after his mother and sister, Johanne Sophie, passed away. His sister's death had a lasting effect on Munch and he created several variants of <span class="p-name">The Sick Child</span>, which records the moments before his sister's death, throughout his career.
          </p>
          <p>
            Munch originally studied engineering at a technical college, but left to pursue being a painter. During his early years, he experimented with a variety of styles, such as Naturalism and Impressionism, but found these styles unsatisfactory for what he wanted to express through his paintings. His pursuit of art was a point of contention and criticism from his family and neighbors.
          </p>
          <p>
            In 1889, Munch traveled to Paris where he was inspired by 3 artists that would become influential in his own work: Paul Gaugin, Vincent Van Gogh, and Henri de Toulouse-Lautrec. That same year, his father died, leaving Munch financially responsible for his family and depressed.
          </p>
          <p><small class="text-muted align-bottom">
            <span class="p-name">Self-Portrait with Cigarette</span>, 1895<br>
            source: edvardmunch.org
          </small></p>
      </div>
  </div>
</div>

<div class="container mt-5 px-5">
  <h3 class="text-center">Characteristic Work</h3>
  <div class="image-scroll-box px-5">
    <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/evng_on_karl_johan_srt" class="img-fluid"> 
    <p><small class="text-muted">
      <span class="p-name">Evening on Karl Johan Street</span>, 1892<br>
      source: edvardmunch.org
    </small></p>
    <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/anxiety" class="img-fluid">
    <p><small class="text-muted">
      <span class="p-name">Anxiety</span>, 1894<br>
      source: edvardmunch.org
    </small></p>
    <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/dth_in_the_sickroom" class="img-fluid"> 
    <p><small class="text-muted">
      <span class="p-name">Death in the Sickroom</span>, 1895<br>
      source: edvardmunch.org
      </small></p>
    <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/red_virginia_creeper" class="img-fluid"> 
    <p><small class="text-muted">
      <span class="p-name">Red Virginia Creeper</span>, 1898 - 1900<br>
      source: edvardmunch.org
      </small></p>
    <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/dance_of_life" class="img-fluid"> 
    <p><small class="text-muted">
      <span class="p-name">The Dance of Life</span>, 1899<br>
      source: edvardmunch.org
      </small></p>
    <img src="http://web.engr.oregonstate.edu/~jov/images/emunch/galloping_horse" class="img-fluid"> 
    <p><small class="text-muted">
      <span class="p-name">Galloping Horse</span>, 1912<br>
      source: edvardmunch.org
      </small></p>
  </div>
  <div class="d-flex flex-row px-5">
    <div class="col mt-5">
          <p>
            By 1892, Munch had developed his characteristic style, different from the Naturalism and Impressionism styles he had been dabbling in before. 
            He spent the early 1890s in Berlin and gained widespread reception and recognition. It was here that his work began to evolve towards his mature style that he
            would later be known for. 
          </p>
          <p>
            <span class="p-name">The Scream</span> is Munch's most famous work and is widely interpreted to represent the universal anxiety of modern man. Exploration of the inner self, 
            rather than the exerior world, are common in Munch's paintings. However, it can be argued that Munch's exterior world is also represented tangentially 
            by the state of the interior world he portrays. Themes of love, loneliness, anxiety, sickness, and death are shown throughout his work. 
          </p>
      </div>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex flex-row px-5">
    <div class="col-6">
      <div class="d-flex flex-row">
        <span class="font-weight-bold">On Google, users searching for Edvard Munch also searched for the following topics:</span>
      </div>
      <br>
      {{#each search}}
      <div class="d-flex flex-row">
        {{topic.title}}
      </div>
      {{/each}}
    </div>
    <div class="col-6" id="eMMoreData">
      <div class="d-flex flex-row">
        <span class="font-weight-bold">Would you like to see another list?</span>
      </div>
      <div class="d-flex flex-row mx-3 my-3">
        <button type="button" class="btn btn-light" id="emunchMore">Yes</button>
      </div>
    </div>
  </div>
</div>
