{{!-- Navigation Bar template from Bootstrap --}}
<div class="container">
    <nav class="navbar sticky-top navbar-expand navbar-light flex-column flex-md-row bd-navbar bg-light" style="background-color: #e3f2fd">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://flip2.engr.oregonstate.edu:7531/emunch">Edvard Munch</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://flip2.engr.oregonstate.edu:7531/vangogh">Vincent Van Gogh</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="http://flip2.engr.oregonstate.edu:7531/sources">Sources</a>
            </li>
        </ul>
        </div>
    </nav>
</div>
<br>
<div class="container mt-5 px-5">
    <div class="row mt-5">
        <h3>Information Sources</h3>
    </div>
    <div class="row mt-1">
        <h6>(all image sources are listed on the page in which they appear)</h6>
    </div>
    <div class="row mt-5">
        <div class="flex-column">
            <span class="text-monospace">Edvard Munch</span>
        </div>
        <div class="flex-column">
            <ul>
                <li>
                    <a href="https://www.edvardmunch.org/" target="_blank">edvardmunch.org</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Edvard_Munch" target="_blank">Wikipedia</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="flex-column">
            <span class="text-monospace">Vincent Van Gogh</span>
        </div>
        <div class="flex-column">
            <ul>
                <li>
                    <a href="https://www.vangoghmuseum.nl/en" target="_blank">vangoghmuseum.nl</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Vincent_van_Gogh" target="_blank">Wikipedia</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5 px-5">
    <div class="row">
        <h3>The Metropolitan Museum of Art (Fifth Avenue)</h3>
    </div>
    <div class="row mt-3">
        <div class="flex-column">
            <p>
                I chose to show Van Gogh on this website because like the majority, I enjoy his work. I chose to show Edvard Munch because I visited the Met in 2017 and saw his painting <span class="p-name">Night in Saint-Cloud</span> for the first time and it had a lasting impact in my memory. I was familiar with <span class="p-name">The Scream</span>, but had not seen his other works before then. 
            </p>
            <p>
                Because I attribute my interest of Edvard Munch to that visit, I am going to plug some information about The Metropolitan Museum of Art. I also need a way to meet some of the project requirements and writing about a location is good way to do so.
            </p>
            <p><small>
                All information about The Metropolitan Museum of Art is from their <a href="https://www.metmuseum.org/" target="_blank">website</a>.
            </small></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button type="button" class="btn btn-link">
                <a href="http://web.engr.oregonstate.edu/~jov/PDF/the_met_5th_ave_map.pdf" target="_blank" download>Download a map of The Met Fifth Ave.</a>
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-1">
            <span class="text-monospace">Address</span>
        </div>
        <div class="col-3">
            <ul>
                <li>
                    1000 Fifth Avenue<br>
                    New York, NY 10028<br>
                    <br>
                    Phone: 212-535-7710
                </li>
            </ul>
        </div>
        <div class="col-1">
            <span class="text-monospace">Hours</span>
        </div>
        <div class="col-3">
            <ul>
                <li>
                    Monday: 10AM - 5PM
                </li>
                <li class="my-1">
                    Tuesday: CLOSED
                </li>
                <li class="my-1">
                    Wednesday: CLOSED
                </li>
                <li class="my-1">
                    Thursday: 12PM - 7PM
                </li>
                <li class="my-1">
                    Friday: 12PM - 7PM
                </li>
                <li class="my-1">
                    Saturday: 10AM - 5PM
                </li>
                <li class="my-1">
                    Sunday: 10AM - 5PM
                </li>
            </ul>
        </div>
        <div class="col-1">
            <span class="text-monospace">Cost</span>
        </div>
        <div class="col-3">
            <ul>
                <li>
                    Adults: $25
                </li>
                <li class="my-1">
                    Seniors (65 and over): $17
                </li>
                <li class="my-1">
                    Students: $12
                </li>
                <li class="my-1">
                    Members and Patrons: Free
                </li>
                <li class="my-1">
                    Children (under 12): Free
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container my-5 px-5" id="survey">
    <div class="row">
        <h3>Submit a Survey</h3>
    </div>
    <div class="row mt-3">
        <div class="flex-column">
            You might be able to tell that I lost steam towards the end of this project. Here is a short survey you can fill out to tell me exactly that:
        </div>
    </div>
    <div class="row mt-3">
        <form class="mb-3">
            <fieldset>
                <label for="visitorName">Your Name: </label>
                <input type="text" id="visitorName">
                <br>
                <label for="email">Your Email: </label>
                <input type="email" id="visitorEmail">
                <br>
                <label for="comments">Comments: </label>
                <textarea id="visitorComments"></textarea>
                <br>
                <input type="submit" id="submitSurvey">
            </fieldset>
        </form>
    </div>
</div>